* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #d63a25;
  --white: #fff;
  --dark: #1e1c2a;
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--dark);
}
